Create Database [HeartPrediction]

USE [HeartPrediction]
GO
/****** Object:  Table [dbo].[TrainingData]    Script Date: 04/23/2016 17:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TrainingData](
	[Dname] [varchar](50) NULL,
	[Age] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[ChestPain] [varchar](50) NULL,
	[BloodSugar] [varchar](50) NULL,
	[Restecg] [varchar](50) NULL,
	[Exang] [varchar](50) NULL,
	[Slope] [varchar](50) NULL,
	[CA] [varchar](50) NULL,
	[Thal] [varchar](50) NULL,
	[BloodPressure] [varchar](50) NULL,
	[Cholesterol] [varchar](50) NULL,
	[Thalach] [varchar](50) NULL,
	[Oldpeak] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TrainingData] ([Dname], [Age], [Gender], [ChestPain], [BloodSugar], [Restecg], [Exang], [Slope], [CA], [Thal], [BloodPressure], [Cholesterol], [Thalach], [Oldpeak]) VALUES (N'Coronary Artery Disease', N'25', N'0', N'2', N'100', N'2', N'1', N'2', N'3', N'3', N'120', N'50', N'80', N'100')
INSERT [dbo].[TrainingData] ([Dname], [Age], [Gender], [ChestPain], [BloodSugar], [Restecg], [Exang], [Slope], [CA], [Thal], [BloodPressure], [Cholesterol], [Thalach], [Oldpeak]) VALUES (N'High Blood Pressure', N'40', N'0', N'3', N'120', N'1', N'0', N'3', N'0', N'7', N'300', N'70', N'150', N'80')
INSERT [dbo].[TrainingData] ([Dname], [Age], [Gender], [ChestPain], [BloodSugar], [Restecg], [Exang], [Slope], [CA], [Thal], [BloodPressure], [Cholesterol], [Thalach], [Oldpeak]) VALUES (N'Congestive Heart Failure', N'60', N'1', N'1', N'110', N'0', N'1', N'1', N'2', N'6', N'150', N'40', N'98', N'120')
/****** Object:  Table [dbo].[Register]    Script Date: 04/23/2016 17:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Register](
	[Id] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Age] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Register] ([Id], [Name], [Address], [Mobile], [Email], [Age], [Gender], [Password]) VALUES (N'1001', N'Test', N'Mumbai', N'9876543210', N'test@gmail.com', N'40', N'Male', N'1234')
/****** Object:  Table [dbo].[Feedback]    Script Date: 04/23/2016 17:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feedback](
	[Name] [varchar](50) NULL,
	[Feedback] [varchar](max) NULL,
	[Date] [varchar](50) NULL,
	[Time] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Feedback] ([Name], [Feedback], [Date], [Time]) VALUES (N'Hardik Barve', N'Got accurate analysis of my heart and also suggested good doctor for the same.', N'2016-04-22', N'13:03')
/****** Object:  Table [dbo].[DocDetails]    Script Date: 04/23/2016 17:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocDetails](
	[Did] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Age] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Specialist] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DocDetails] ([Did], [Name], [Address], [Mobile], [Email], [Age], [Gender], [Specialist]) VALUES (N'101', N'Amish Vora', N'Goregaon', N'9876543211', N'amishvora@gmail.com', N'22', N'Male', N'Heart')
INSERT [dbo].[DocDetails] ([Did], [Name], [Address], [Mobile], [Email], [Age], [Gender], [Specialist]) VALUES (N'102', N'Mary Samy', N'Dahisar', N'9876543212', N'marycom@gmail.com', N'25', N'Female', N'Heart')
